/*utility classes*/
.img-responsive{
max-width: 90%;
grid-template-columns: auto;
}

.img-responsive1{
    max-width: 100%;
    grid-template-columns: auto;
    }
.img-responsive2{
        max-width:85%;
        grid-template-columns: auto;
}
.hero_image{
    background: url(girl.jpg) no-repeat;
    background-size: cover;
